<h1 class="text-center">About Me</h1>
<p class="text-justify md:w-1/2 mx-auto">
    Hi I'm Ethan a {{ age }} year old studying
    <a href="https://www.gmit.ie/computer-science-and-applied-physics/bachelor-science-honours-software-development">Software Development</a>
    in ATU.
    I am self taught in programming before GMIT and have been programming for many years as a hobby making games, websites, software and mobile apps.
    I love Open source software and try to contribute to it where I can.
</p>

<h1 class="text-center">Knowledge</h1>

<div class="flex flex-wrap justify-center">
    <div class="md:w-1/2 lg:w-1/3 ">
        <h2 class="text-center">Web</h2>
        <p class="text-justify m-4">
            I am both self taught and have studied web development in College. I know HTML, CSS and JavaScript/TypeScript. I have also used Vue, Angular, Tailwind and Bootstrap in many
            projects.
        </p>
    </div>

    <div class="md:w-1/2 lg:w-1/3 ">
        <h2 class="text-center">C#</h2>
        <p class="text-justify m-4">
            I am self taught in C# and have used it in many ways from Unity to Monogame to a
            <a routerLink="/projects/Monoboy">Gameboy Emulator</a>
            and mobile apps. I have been programming in C# for {{ yearsProgramming }} years
            when i started with xna making games and I am well adversed with its newer tool chain and the dotnet core and 5 workflow in general.
        </p>
    </div>

    <div class="md:w-1/2 lg:w-1/3 ">
        <h2 class="text-center">Java</h2>
        <p class="text-justify m-4">
            I have studied Java in College. It was easy to pick up from my previous experience with C#. I have also in the past used it for modding
            Minecraft.
        </p>
    </div>

    <div class="md:w-1/2 lg:w-1/3 ">
        <h2 class="text-center">Git</h2>
        <p class="text-justify m-4">
            I have studied git in collage and have been using it for many years as source control for my projects and have gotten a good understanding of it
            from both the command line and many gui interfaces.
        </p>
    </div>

</div>
