<div class="relative mx-auto w-4/5">
    <div class="keen-slider keen-slider--vertical aspect-video" #sliderRef>
        <div [routerLink]="['/projects/'+item.title]" class="rounded-lg keen-slider__slide p-2 cursor-pointer hidden" *ngFor="let item of featured">
            <img class="rounded-lg w-full h-full bg-light-gray" src="assets/{{item.title}}/Thumbnail.png">
        </div>
    </div>
    <svg class="bg-gray m-2 p-2 hover:bg-input rounded-full arrow arrow-left md:block hidden" (click)="slider.prev()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
    </svg>
    <svg class="bg-gray m-2 p-2 hover:bg-input rounded-full arrow arrow-right md:block hidden" (click)="slider.next()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>
</div>
<div class="flex justify-center p-2">
    <button (click)="slider.moveToIdx(i)" *ngFor="let slide of dotHelper; let i = index" class="dot" [class.active]="i === currentSlide"></button>
</div>
