@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "scrollbar.scss";

html {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
}

body {
    @apply w-full h-full bg-gray text-white;
}

html * {
    margin: 0;
    padding: 0;
}

a {
    @apply text-green hover:text-link-hover;
}

.router-link-active {
    @apply underline underline-offset-4;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

.markdown {
    img {
        @apply mx-2 hover:bg-input;
    }

    p {
        @apply items-center;
    }

    table[align="center"] {
        @apply my-12;
    }

    table[align="center"],
    p[align="center"] {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;
        margin: 1rem;
    }

    th {
        @apply px-2;
    }
}

.spacer {
    @apply md:h-16 h-6;
}

button {
    @apply bg-green text-gray font-bold px-4 py-2 rounded-xl shadow-md transform active:scale-100 hover:scale-110;
}

.hover {
    @apply hover:scale-105 transition-transform cursor-pointer;
}
