@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 12pt;
}

body {
    @apply w-full h-full bg-gray text-white;
}

html * {
    margin: 0;
    padding: 0;
}

a {
    @apply text-green;
}

a:hover {
    @apply text-link-hover;
}

p{
    @apply m-4;
}

th{
    @apply px-2;
}

.router-link-active {
    @apply underline;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

table[align="center"]{
    @apply my-12;
}

table[align="center"],
p[align="center"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

a>img:hover{
    @apply bg-input;
}

a>img{
    @apply mx-2;
}
